
.custom-centered{
    margin:0 auto;
    width:300px;
}
.card-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    text-align: center;
    padding-top: 15px;
}

.card-body{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.card{
    width: 34rem;
}

button{
    display: inline-flex;
    justify-content: center;
}

@media (max-width: 500px) {
    .card{
        width: 20rem;
    }

    .card-body{
        height: 24rem;
    }
    
}